body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(255, 255, 255, 0.9);
    padding: 1rem 0.5rem;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.05);
    z-index: 1000;
}

nav .nav-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    color: #3b82f6;
    font-weight: 900;
    font-size: 1.5rem;
}

.nav-container .nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1rem;
}

nav a:hover {
    color: #3b82f6;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #3b82f6 0%, #8b5cf6 100%);
    color: white;
    text-align: center;
    padding: 6em 2em;
}

.home-content {
    display: grid;
    line-height: 3em;
}

.home h1 {
    font-size: 3em;
    margin: 2px;
}

.home .subTitle {
    font-size: 1.2em;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    padding: 20px 30px;
    border-radius: 50px;
    font-weight: 600;
    text-decoration: none;
}

.btn-primary {
    background: white;
    color: #3b82f6;
    border: 0px;
}

.btn-secondary {
    background: transparent;
    color: white;
    border: 2px solid white;
}

.section {
    max-width: 100%;
    margin: 0 auto;
    padding: 5em 3em;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 3rem;
    color: #1e293b;
}

.education-box {
    max-width: 800px;
    margin: 0 auto;
}

.education-item {
    padding: 2rem;
    border-left: 4px solid #3b82f6;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
    background: white;
    line-height: 20px;
}

.education-item h3 {
    color: #3b82f6;
    margin-bottom: 0.5rem;
    font-size: 1.5em;
}

.education-item .degree {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #1e293b;
}

.education-item .institute {
    color: gray;
    margin-bottom: 1rem;
}

.education-item .year {
    background: #eff6ff;
    color: #3b82f6;
    padding: 0.5rem 1rem;
    display: flex;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1rem;
    max-width: 12%;
}

.education-item .grade {
    margin: 0.5rem;
    font-weight: 600;
    color: #059669;
}

.skill {
    background: #f8fafc;
}

.skill .title {
    font-size: 3em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.skill-category {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 20px 20px rgb(0, 0, 0, 0.1);
}

.skill-category h3 {
    color: #3b82f6;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
    margin-bottom: 3rem;
}

.skill-tags {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.skill-category .tags {
    background: #eff6ff;
    color: #002f7b;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1rem;
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

@media (max-width: 425px) {
    .home h1 {
        font-size: 2em;
    }
    .skill .title {
        font-size: 2em;
    }
}

@media (max-width: 768px) {
    .home h1 {
        font-size: 1em;
    }
}